language: php

addons:
  apt:
    packages:
      - parallel

cache:
  directories:
    - $HOME/.composer/cache

.Tests: &tests
  services:
    - mysql
  install:
    - composer require typo3/minimal="$TYPO3_VERSION"
    - export TYPO3_PATH_ROOT=$PWD/.Build/public
    - export typo3DatabaseName=typo3
    - export typo3DatabaseHost=localhost
    - export typo3DatabaseUsername=root
    - export typo3DatabasePassword=
    - export PHPUNIT_OPTIONS="--coverage-clover=coverage.xml"
  script:
    - make test
    - bash <(curl -s https://codecov.io/bash)

.Lint Editorconfig: &editor_config
  install:
    - npm install -g editorconfig-checker@^2.0
  script:
    - editorconfig-checker -exclude '(LICENSE|^Documentation/)'

jobs:
  include:
    - <<: *editor_config
      name: Lint Editorconfig
    - <<: *tests
      name: Tests (TYPO3 10.3, PHP 7.4)
      php: 7.4
      env: TYPO3_VERSION=^10.3
