services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Cvc\Typo3\CvcTwig\:
    resource: '../Classes/*'
    exclude: '../Classes/{Documentation,DependencyInjection}'

  Twig\Environment:
    public: true
    arguments:
      - '@Cvc\Typo3\CvcTwig\Twig\Loader\Typo3Loader'
      - debug: '%twig.debug%'
        cache: '@Twig\Cache\CacheInterface'

  Twig\Cache\CacheInterface:
    class: Cvc\Typo3\CvcTwig\Twig\Cache\Typo3Cache
    arguments:
      - '@cache.twig_templates'

  cache.twig_templates:
    class: TYPO3\CMS\Core\Cache\Frontend\PhpFrontend
    factory: ['@TYPO3\CMS\Core\Cache\CacheManager', getCache]
    arguments: ['twig_templates']

  Cvc\Typo3\CvcTwig\ContentObject\TwigTemplateContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'TWIGTEMPLATE'
